<div class="container">
    <h1>Astronaut Show page</h1>
  <div class="card-product">
    <h2><%= @astronaut.name %></h2>
    <div class="card-product-infos">
      <p><%= @astronaut.bio %></p>
    </div>
  </div>
  <%= link_to 'back', root_path %>
  <%= link_to 'create a booking', new_astronaut_booking_path(@astronaut) %>
</div>





