<div class="container d-flex justify-content-center">
  <div class="card col flex-row mt-3 pb-3">
    <div class="d-flex flex-column justify-content-center mx-auto">
      <p class="text-center">You just booked:</p>
      <h1 class="text-center"> <%= @booking.astronaut.name %></h1>
  <% if @booking.astronaut.photo.attached?  %>
          <%= cl_image_tag @booking.astronaut.photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>
        <% else  %>
          <img width="400" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OrTvDaHqHaLr8GCNb25AngHaE8%26pid%3DApi&f=1" alt="">
        <% end  %>
    </div>
  </div>
</div>
